<template>
<form method="POST">
    <fieldset>
        <input type="hidden" name="_csrf" v-model="csrftoken"/>
        <legend>Login</legend>
        Username:<br/>
        <input type="text" name="username"/><br/>
        Password:<br/>
        <input type="password" name="password"/><br/>
        <button>Submit</button>
    </fieldset>
</form>
</template>

<script>
export default {
  data () {
    return {
      csrftoken: this.$cookie.get('XSRF-TOKEN')
    }
  }
}
</script>

<style scoped>
form {
  margin: auto;
  width: 20em;
}
</style>
