<template>
<div>
    <h2 v-if="messages.length === 0">
      No messages.
    </h2>
    <h2 v-for="(message, index) in messages" v-bind:key="index">
      {{message.from}} - {{message.content}}
    </h2>

    <form>
      <fieldset>
        <legend>Add message:</legend>
        Name:<br/>
        <input type="text" v-model="message.from" name="name"/><br/>
        Message:<br/>
        <input type="text" v-model="message.content" name="content"/><br/>
        <button v-on:click.prevent="postMessage">Submit</button>
      </fieldset>
    </form>

    <button v-on:click="logout">Logout</button>
</div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      message: {
        from: ``,
        content: ``
      },
      messages: []
    }
  },
  methods: {
    getMessages () {
      axios.get(`api/messages`)
        .then(response => {
          this.messages = response.data
        })
    },
    postMessage () {
      axios.post(`api/message`, this.message)
        .then(response => {
          this.getMessages()
        })
    },
    logout () {
      axios.post(`logout`)
      this.$router.push(`login`)
    }
  },
  created: function () {
    this.getMessages()
  }
}
</script>

<style scoped>
h2 {
  color: red;
}
form {
  margin: auto;
  width: 20em;
}
</style>
